@import url("https://fonts.googleapis.com/css?family=Faustina:600|Open+Sans:400,700,600");

header {
  margin-bottom: 50px;
}

.herotexttemp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 9px 0px 0px;
  position: relative;

  width: 100%;
  height: 100%;
}

.name-1,
.web-developer-1,
.links {
  z-index: 2;
}

.name-1 {
  position: static;
  left: 0px;
  top: 25px;

  font-family: "Faustina";
  font-style: normal;
  font-weight: 600;
  font-size: 115.594px;
  line-height: 146px;
  /* identical to box height */

  color: #000000;

  text-shadow: -11px 4px 11px rgba(0, 0, 0, 0.25);
}

.web-developer-1 {
  position: static;

  left: calc(50% - 1009.17px / 2);
  top: calc(50% - 87px / 2 + 59.5px);

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 42.6667px;
  line-height: 58px;

  /* highlight */

  color: #2b8734;

  text-shadow: -11px 4px 11px rgba(0, 0, 0, 0.25);
}

.links {
  position: static;
  left: 398.09px;
  top: 256px;

  align-items: flex-start;
  //flex-direction: column;
  display: flex;
  min-width: 423px;
  padding: 0 156px;
  margin-bottom: 464px;
}

.linked-inblack:hover {
  transform: scale(1.1);
}

.linked-inblack {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin-left: 15px;
  min-width: 48px;
  transition: all 0.3s ease-in-out;
}

.linked-in:hover {
  transform: scale(1.1);
}

.linked-in {
  background-image: url(../images/LinkedIN.png);
  background-size: 100% 100%;
  cursor: pointer;
  height: 48px;
  margin-top: -0.22px;
  transition: all 0.3s ease-in-out;
  width: 48px;
}

.githubblack {
  cursor: pointer;
  margin-top: -0.22px;
  transition: all 0.3s ease-in-out;
}

.githubblack:hover {
  transform: scale(1.1);
}

.header-div {
  background-color: white;
}
