@import url("https://fonts.googleapis.com/css?family=Faustina:600|Open+Sans:400,700,600");

header {
  margin-bottom: 50px;
  width: 1800px;
}
.mobile-header {
  display: none;
}

.herotexttemp {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 9px 0px 0px;
  position: relative;
  width: 100%;
  height: 750px;
  align-self: baseline;
  text-align: start;
}

.name-1,
.web-developer-1,
.links {
  z-index: 2;
}

.name-1 {
  font-family: "Faustina";
  font-style: normal;
  font-weight: 600;
  font-size: 7.18rem;
  color: #000000;
  text-shadow: -11px 4px 11px rgba(0, 0, 0, 0.25);
}

.web-developer-1 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 2.6rem;
  color: #2b8734;
  text-shadow: -11px 4px 11px rgba(0, 0, 0, 0.25);
}

.links {
  align-items: flex-start;
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.linked-inblack:hover {
  transform: scale(1.1);
}

.linked-inblack {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  justify-content: center;
  transition: all 0.3s ease-in-out;
}

.linked-in:hover {
  transform: scale(1.1);
}

.linked-in {
  cursor: pointer;
  margin-top: -0.22px;
  transition: all 0.3s ease-in-out;
}

.githubblack {
  cursor: pointer;
  margin-top: -0.22px;
  transition: all 0.3s ease-in-out;
  width: 48px;
}

.githubblack:hover {
  transform: scale(1.1);
}

.header-div {
  background-color: white;
}

@media screen and (max-width: 1484px) {
  .herotexttemp {
    height: 40vw;
    padding-right: 0px;
  }

  .web-developer-1 {
    font-size: 2.5vw;
  }

  .name-1 {
    font-size: 5.608vw;
  }

  .linked-in {
    height: 2.3vw;
    width: 2.3vw;
  }

  .githubblack {
    width: 2.3vw;
  }
}

@media screen and (max-width: 784px) {
  .desktop-setup {
    display: none;
  }

  .mobile-header {
    display: block;
  }

  .mobile-header {
    .links {
      display: block;
    }
    .name-1 {
      font-size: 12vw;
    }
    .web-developer-1 {
      font-size: 6vw;
      margin-bottom: 10px;
    }

    .linked-in {
      width: 6vw;
      height: 6vw;
    }

    .githubblack {
      width: 6vw;
      height: 6vw;
      margin-bottom: 1vw;
    }
  }
}
