.projcard {
  max-width: 700px;
  padding: 20px 20px;
  background-color: #ffffff;
  margin-bottom: 85px;
  border-bottom: solid 1px #e0e0e0;
}

.hero-image {
  position: relative;
}

.project-card-subtitle {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16.9752px;
  line-height: 23px;
  margin-bottom: 20px;
  color: #000000;
}

.project-card-paragraph,
.paragraph {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;

  color: #000000;
  max-width: 60ch;
  margin: 0 auto;
  margin-bottom: 20px;
}

.project-button {
  background: #2b8734;
  padding: 12px 18px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 21.219px;
  color: #ffffff;
  margin-bottom: 20px;
  text-decoration: none;
  &:hover {
    transform: scale(1.1);
  }
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 45px;
}

.project-card-image {
  img {
    max-width: 550px;
    max-height: 350px;
    margin-bottom: 20px;

    @media (max-width: 768px) {
      max-width: 100%;
    }
  }
}

.skill-list {
  margin-bottom: 40px;
  list-style: none;
}

@media screen and (max-width: 1420px) {
  .project-card-paragraph,
  .paragraph {
    font-size: 1.3rem;
    line-height: 2rem;
  }

  .project-button {
    font-size: 0.9rem;
  }

  .project-card-subtitle {
    font-size: 1.5rem;
  }
}
